/********** Template CSS **********/
:root {
    --primary: #0d6efd;
    --secondary: #6c757d;
    --light: #f8f9fa;
    --dark: #152440;
}

a{
    text-decoration: none;
}

h1,
h2,
.font-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-semiBold {
    font-weight: 600 !important;
}

h5,
h6,
.font-medium {
    font-weight: 500 !important;
}

.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

/* Button Styling */
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-primary {
    color: #FFFFFF;
}

/* Back to Top Button */

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/* Top Navbar (mail) shape */
.top-shape::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 100%;
    top: 0;
    left: -17px;
    background: var(--primary);
    transform: skew(40deg);
}

/* Navbar Items */

.navbar-light .navbar-nav .nav-link {
    padding: 35px 15px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
}

/* Primary on hover and active navbar items/link */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-nav .dropdown .dropdown-item.active{
    background-color: var(--primary);
}


/* Hero Section carousel caption */
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 36, 64, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}
/* 
.carousel-controls{
    bottom: 0;
    position: relative;
    margin-top: 30px;
}
.carousel-control-prev,
.carousel-control-next {
    width: 10%;
    height: max-content;
    background-color: var(--primary);
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
} */

/* Services Section Style */

.service-item {
    position: relative;
    overflow: hidden;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    bottom: -50px;
    left: 0;
    background: var(--light);
    border-radius: 100% 100% 0 0;
    box-shadow: 0px -10px 5px #EEEEEE;
    transition: .5s;
}

.service-item:hover::after {
    bottom: -25px;
}

.service-item p {
    transition: .3s;
}

.service-item:hover p {
    margin-bottom: 25px !important;
}

/* Team Section Style */

.team-item img {
    transform: scale(1.15);
    margin-left: -30px;
    transition: .5s;
}

.team-item:hover img {
    margin-left: 0;
}

.team-item .team-text {
    left: -100%;
    transition: .5s;
}

.team-item .team-text::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    right: -60px;
    margin-top: -30px;
    border: 30px solid;
    border-color: transparent transparent transparent var(--primary);
}

.team-item:hover .team-text {
    left: 0;
}

/* Testimonial Section Style */

#testimonial-carousel .carousel-item h3{
    font-size: 1.5rem;
}
#testimonial-carousel .carousel-item img {
    width: 90px;
    height: 90px;
}

#testimonial-carousel .carousel-control-prev,
#testimonial-carousel .carousel-control-next{
 height: max-content;
 width: max-content;
 padding: 10px;
 position: static;
}

/* Blog Section Style */

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.1);
}